{% extends "base.html" %}
<title>Orcha | {% block title %} login{% endblock title %}</title>


{% block body %}

<style>

    .k{
        margin-left:60px;
        color:#fc0c3a;
    }


    .a{
        background:#fc0c3a;
        color:white;
        border:none;
        width:100px;
        height:40px;
    
        font-size:15px;
    
    }

    .b{
        margin-left:-100px;
    }


    
</style>

<br><br>

{% comment %} <h3 class='k'>Register yourself to secure shopping!!</h3> {% endcomment %}

<br><br>


<main class="main">
    <div class="">
        <div class="container">
           
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5" >
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Password Changed Sucessfully !!</h3>
                                    </div>

                                   
                                </div>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock body %}