{% extends "base.html" %}

{% block body %}

{% load static %}


<style>
    .h{
        margin-left:40px;
    }
   /* Hover */
   ul {
            padding: 0;
            list-style: none;
            /* background: #f2f2f2;
            width: 500px; */
        }
 
        ul li {
            display: block;
            position: relative;
            line-height: 21px;
            text-align: left;
        }
        ul li a {
            display: block;
            /* padding: 8px 25px; */
            color: #333;
            text-decoration: none;
        }
        ul li a:hover {
            color: #fff;
            /* background: #939393; */
        }
        ul li ul.dropdown {
            min-width: 100%;
            /* Set width of the dropdown */
            /* background: #f2f2f2; */
            display: none;
            /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
            position: relative;
            z-index: 999;
            padding: 8px 2px;
            /* left: 0; */
            top:10px;
            
            left: 5px;
            
        }
        ul li:hover ul.dropdown {
            display: block;
            
            /* Display the dropdown */
        }

</style>


<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Shop Category</h2>
            <p>Very us move be blessed multiply night</p>
          </div>
          <div class="page_link">
            <a href="index.html">Home</a>
            <a href="category.html">Shop</a>
            <a href="category.html">Women Fashion</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!--================Category Product Area =================-->
  <section class="cat_product_area section_gap">
    <div class="container">
      <div class="row flex-row-reverse">


        <div class="col-lg-3">
          <div class="left_sidebar_area">
            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Browse Categories</h3>
              </div>
              <div class="widgets_inner">
              <!-- New -->
              <ul class="list">
               {% for a in cat %}
               <li>
                   <a href="#">{{a.name}}</a>
                   <ul class="dropdown" >
                     {% for b in a.subcategory.all %}
                       <li class="h">
                        <a href="{% url 'category_detail' b.id %}" style="cursor:pointer;"> {{b.name}}</a></li>
                       {% endfor %}
                   </ul>
               </li>
               {% endfor %}
           </ul>
                <!-- <ul class="list" >
                  {% for a in cat %}
                    
                  <li>
                     <a href="#">{{a.name}}</a>
                    {% for b in a.subcategory.all %}
                        <li><a href = "{% url 'category_detail' b.id %}" class='h' >- {{b.name}}</a>
                                 </li>{% endfor %}  -->
                         <!-- <li class='h'>- Shirt</li>
                        <li class='h' >- T-shirt</li>
                        <li class='h'>- Jeans</li>
                        <li class='h'>- Top</li>  -->
                  </li>
                  <!-- {% endfor %}  -->
                  
                        
                  <!-- <li>
                    <a href="#">Men's Collection</a>

                        <li class='h'>- Ethnic Style</li>
                        <li class='h'>- Shirt</li>
                        <li class='h'>- T-shirt</li>
                        <li class='h'>- Jeans</li>
                        <li class='h'>- Shorts</li>
                  </li>
                  <li>
                    <a href="#">Kids's Collection</a>

                       
                        <li class='h'>- Shirt</li>
                        <li class='h'>- T-shirt</li>
                        <li class='h'>- Jeans</li>
                        <li class='h'>- Top</li>
                  </li>
                  -->
                </ul>
              </div>
            </aside>

            <!-- <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Product Brand</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list">
                  <li>
                    <a href="#">Apple</a>
                  </li>
                  <li>
                    <a href="#">Asus</a>
                  </li>
                  <li class="active">
                    <a href="#">Gionee</a>
                  </li>
                  <li>
                    <a href="#">Micromax</a>
                  </li>
                  <li>
                    <a href="#">Samsung</a>
                  </li>
                </ul>
              </div>
            </aside>

            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Color Filter</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list">
                  <li>
                    <a href="#">Black</a>
                  </li>
                  <li>
                    <a href="#">Black Leather</a>
                  </li>
                  <li class="active">
                    <a href="#">Black with red</a>
                  </li>
                  <li>
                    <a href="#">Gold</a>
                  </li>
                  <li>
                    <a href="#">Spacegrey</a>
                  </li>
                </ul>
              </div>
            </aside> -->

            {% comment %} <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Price Filter</h3>
              </div>
              <div class="widgets_inner">
                <div class="range_item">
                  <div id="slider-range"></div>
                  <div class="">
                    <label for="amount">Price : </label>
                    <input type="text" id="amount" readonly />
                  </div>
                </div>
              </div>
            </aside> {% endcomment %}
          </div>
        </div>
        <div class="col-lg-9">
          <div class="product_top_bar">
            <div class="left_dorp">
              {% comment %} <select class="sorting">
                <option value="1">Default sorting</option>
                <option value="2">Default sorting 01</option>
                <option value="4">Default sorting 02</option>
              </select>
              <select class="show">
                <option value="1">Show 12</option>
                <option value="2">Show 14</option>
                <option value="4">Show 16</option> {% endcomment %}
              </select>
            </div>
          </div>


          
          
          <div class="latest_product_inner">
            <div class="row">
               {% for a in prod %}
              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="/media/{{a.product_image}}"
                      alt="" style="height:300px;"
                    />
                    <div class="p_icon" style='background:#ff3333;color:black;width:300px;'>
                      <a href="{% url 'product_detail' a.id %}" style='background:black;color:white'>
                        <i class="ti-eye" ></i>
                      </a>
                      <a href="#" style='background:black;color:white'>
                        <i class="ti-heart"></i>
                      </a>
                      {% comment %} <a href="{% url 'add-to-cart' %}?prod_id={{a.id}}">
                        <i class="ti-shopping-cart"></i> {% endcomment %}
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4 style="color:black">{{a.title}}</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">${{a.selling_price}}</span>
                      <del>${{a.discounted_price}}</del>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            
              </div>
          </div>
        </div>
       
       
      </div>
    </div>
  </section>


  <nav aria-label="Page navigation example" >
    <ul class="pagination" style='margin-left:630px;'>
      <li class="page-item">
        {% if prod.has_previous %}
        <a class="page-link" href="?page={{prod.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        {% endif %}
      </li>
     {{prod.number}}

     
      <li class="page-item">
        
        {% if prod.has_next %}
                   
        <a class="page-link" href="?page={{prod.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>

{% endblock body %}